body{
    margin:0;
    padding:0;
    display:flex;
    /* flex-direction:column; */
    justify-content:center;
    align-items:center;
}
#container{
    box-shadow: 0px 5px 20px  black;
    min-width:300px;
    max-width: 1000px;
    border:solid 5px black;
    border-radius:20px;
    text-align:center;
}
#inputs{
    text-align:center;
    border:solid 5px solid;
    margin:auto;
}
#password{
    content: "*";
}
input{
    
    text-align:center;
    margin:0px auto;
    margin-bottom:20px;
    display:block;  
}
#login-screen{
    padding:10px;
    display:flex;
    justify-content:center;
}
button{
    margin:10px;

}
