body{
    margin:0;
    padding:0;
    display:flex;
    /* flex-direction:column; */
    justify-content:center;
    align-items:center;
    background-image:url("wallpaper.jpg");
    background-size:cover;
    font-family:"Luckiest Guy";
    height:100vh;

}
h1{
    font-size:80px;
    color:black;
}
#container{
    box-shadow: 0px 5px 40px 20px rgb(0, 0, 0);
    min-width:500px;
    min-height:500px;


    border:solid 5px black;
    border-radius:20px;
    text-align:center;
    backdrop-filter:blur(18px);
}
#inputs{
    font-size:30px;
    text-align:center;
    border:solid 5px solid;
    margin:auto;
}
#password{
    content: "*";
}
input{
    border-radius:5px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:none;
    padding:5px;
    font-family:"Luckiest Guy";
    background-color:black;
    color:white;
    font-size:20px;
    text-align:center;
    margin:0px auto;
    margin-bottom:20px;
    display:block;  
}
#login-screen{
    padding:10px;
    display:flex;
    justify-content:center;
}
button{
    margin:10px;
    font-size:25px;
    font-family:"Luckiest Guy";
    box-shadow:0 9px black;
    border-radius:10px;
    margin-bottom:20px;
    background-color:grey;
}
button:active{
    box-shadow:0 2px black;
    transform:translateY(8px);
}
